streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-mistralai
langchain-huggingface

mistralai

chromadb

sentence-transformers
huggingface-hub

pypdf

pandas
numpy

requests
tiktoken

sqlalchemy
tqdm
aiofiles